@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$nav-color: #002129;
$nav-hover: #2b7885;
$text-color: #ccc;
$nav-text-color: #0affba;
$nav-hover-text: #0affba;

* {
  text-decoration: none;
  color: $text-color;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background-color: $nav-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  //text-align: center;
  padding: 0;

  .navItems {
    padding: 0.5rem;
  }

  .menuIcon {
    position: absolute;
    right: 1rem;
    border: none;
    background-color: $nav-color;
    margin-top: 0.25rem;

    i {
      color: $nav-text-color;
    }

    &:hover {
      background-color: $nav-hover;
      i {
        color: $nav-hover-text;
      }
    }
  }

  .navTitle {
    margin-left: 1rem;
    font-size: 2rem;
    color: $nav-text-color;
  }

  .navContent {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: $nav-color;
    text-align: right;
    li {
      padding: 0.5rem;
      margin: 0;
      padding-right: 1rem;
      &:hover {
        background-color: $nav-hover;
        a {
          color: $nav-hover-text;
        }
      }
    }
  }

  .navDrop {
    flex-direction: column;
    max-height: 400px;
    padding: 0;
  }
}
