@import '../../variables';

@media (max-width: 1024px) {
}
nav {
  background-color: $nav-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;

  .navItems {
    padding: 0.5rem;
  }

  .menuIcon {
    position: absolute;
    right: 1rem;
    border: none;
    background-color: $nav-color;
    margin-top: 0.25rem;
    z-index: 2;

    i {
      color: $primary-accent;
    }

    &:hover {
      background-color: $nav-hover;
      i {
        color: $primary-accent;
      }
    }
  }

  .navTitle {
    margin-left: 1rem;
    font-size: 2rem;
    color: $primary-accent;
  }

  .navContent {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: $nav-color;
    text-align: right;
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    .resume {
      display: none;
    }

    li {
      padding: 0.5rem;
      margin: 0;
      padding-right: 1rem;
      i {
        display: none;
      }
      p {
        margin: 0.5rem;
        padding: 0;
      }
      &:hover {
        background-color: $nav-hover;
        a {
          p {
            color: $primary-accent;
          }
        }
      }
    }
  }

  .navDrop {
    flex-direction: column;
    max-height: 400px;
    padding: 0;
  }
  .personalLinks {
    display: none;
  }

  .nav-scrolled {
    color: $primary-accent;
    &:hover {
      color: $secondary-accent;
    }
  }
}
